body{
    margin: 70px;
}
.content{
   display: flex;
   justify-content: space-between;
}
.content > aside{
    margin-right: 50px;
}
.center {
  text-align: center;
}

.image {
height: 100px;
width: 500px;
}
form{
    margin-top: 5vh;
    margin-left: 5em;
}
footer{
    position: sticky;
    margin-left: 40em;
}
hr{
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0))
}

@media screen and (max-width: 480px) {
    .content {
        display: block;
    }
    header h1{
        margin-left: 0em;
    }
    body{
        margin: 30px;
    }
    img{
        width:300px
    }
  }
  @media screen and (max-width: 768px) {
    .content {
        display: block;
    }
    header h1{
        margin-left: 0em;
    }
    body{
        margin: 30px;
    }
    img{
        width:300px
    }
  }
